[Unit]
Description=Wonderbot discord bot
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/tim/TimTheGateGuard
# Use the Python interpreter from your virtual environment
ExecStart=/home/tim/TimTheGateGuard/venv/bin/python /home/tim/TimTheGateGuard/main.py /home/tim/TimTheGateGuard/config/wonderbot.json

[Install]
WantedBy=multi-user.target
